@use './libs/variables.scss';
@use './libs/fonts.scss';


.stages {
    margin-bottom: 200px;

    &__header {
        width: 60%;
        margin-bottom: 54px;
    }

    
    &__subtitle {
        display: inline-block;
        padding-left: 20px;
        width: 40%;
        font-family: "GolosText-Regular";
        font-size: 20px;
        color: #3057A2;
        line-height: 1.2;
    }

    .control {
        display: none;
    }

   
    &__img {
        position: absolute;
        top: 60%;
        right: 10px;
        transition: transform .3s ease-in-out;
        
        
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        grid-template-areas: 
        "onetwo onetwo three"
        "fourfive fourfive three"
        "six seven seven";
    }

    &__num {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        background-color: variables.$white-color;
        border-radius: 50%;
        font-family: "GolosText-SemiBold";
        font-size: 20px;
        color: variables.$black-color;
        flex-shrink: 0;
    }

    &__item {
        height: 100%;
    }

    &__text {
        font-family: "GolosText-Medium";
        font-size: 20px;
        color: variables.$black-color;
    }

    &__item-wrapper {
        height: auto;

        &:nth-child(1) {
             grid-area: onetwo;
        }
        &:nth-child(2) {
            grid-area: three;
        }
        &:nth-child(3) {
            grid-area: fourfive;
        }
        &:nth-child(4) {
            grid-area: six;
        }
        &:nth-child(5) {

            grid-area: seven;
        }
    }

   &__item_1-2 {
   
    display: flex;
    justify-content: space-between;
    gap: 20px;
   }

   &__item_1 {
    background-image: url("../img/stage/stage-bg-1-desk.jpg");
   }

   &__item_2 {
    background-image: url("../img/stage/stage-bg-2-desk.jpg");
   }

   &__item_3 {
    
    background-image: url("../img/stage/stage-bg-3-desk.jpg");
   }

   &__item_4-5 {
    
    display: flex;
    justify-content: space-between;
    gap: 20px;
   }

   &__item_4 {
   
    background-image: url("../img/stage/stage-bg-4-desk.jpg");
        p {
            width: 90%;
        }
    }

   &__item_5 {
    grid-area: three;
    background-image: url("../img/stage/stage-bg-5-desk.jpg");
        p {
            width: 84%;
        }   
    }

   &__item_6 {
    
    background-image: url("../img/stage/stage-bg-6-desk.jpg");
   }

   &__item_7 {
    
    background-image: url("../img/stage/stage-bg-7-desk.jpg");
    p {
        width: 57%;
    }
   }

   &__part {
    width: 50%;
   }

   &__content {
    padding: 20px;
    display: flex;
    gap: 16px;
    justify-content: start;
    align-items: start;
   }
   
}



@media (max-width: 1366px) {
    .stages {

        

        margin-bottom: variables.$size200;

        &__img {
            width: calc(variables.$index * 400vw);

            
        }

        

        &__subtitle {
            font-size: variables.$size20; 
        }
        &__num, &__text {
          font-size: variables.$size20;  
        }

        &__content {
            padding: variables.$size20;
            gap: variables.$size16;
        }
            
        &__wrapper {
            gap: variables.$size16;
        }
        
    }
}


@media (max-width: 768px) {
    .stages {

        margin-bottom: variables.$size148m;
        
        .animate {
            transform: translateX(50%) rotate(30deg);
        }

        .container {
            padding: 0;
        }

        &__header {
            width: 100%;
            padding: 0 calc(variables.$index-m * 20vw);
            margin-bottom: calc(variables.$index-m * 148vw);
        }
      

        &__subtitle {
            margin-top: calc(variables.$index-m * 12vw);;
            display: block;
            width: 100%;
            padding: 0;
            font-size: calc(variables.$index-m * 18vw);
        }

        &__img {
            top: calc(variables.$index-m * 180vw);
            width: calc(variables.$index-m * 335vw);
            right: 50%;
            transform: translateX(50%);
            z-index: 1;
        }

        &__slider {
            margin: 0 auto variables.$size28m;

        }
        &__wrapper {
            display: flex;
            gap: 0;
        }

        &__part {
            width: 90vw;
        }

        &__content {
            padding: 0;
            gap: variables.$size16m;
        }

        &__item-wrapper {
            width: 100vw;
            flex-shrink: 0;
            height: auto;
        }

        
        

        &__item_1-2, &__item_4-5 {
            flex-direction: column;
            gap: variables.$size28m;
            // width: 100%;
            justify-content: start;
            align-items: start;
            padding: 0;
            width: clamp(221px, 69vw, 530px);
             
            p {
                width: 100%;
            }

            div {
                background-image: none;
            }
        }

        &__item_7 {
            p {
                width: 100%;
            }
        }

        &__item {
            // margin-left: 40px;
            margin: auto;
            padding-bottom: variables.$size34m;
            padding-top: variables.$size62m;
            padding-left: variables.$size20m;
            padding-right: variables.$size20m;
            max-width: 90vw;
            width: 100%;
            height: 100%;
            flex-shrink: 0;
            background-image: url("../img/stage/stages-bg-mob.jpg");
            background-size: contain;
            background-position: 0 0;
        }

        &__part {
            width: clamp(221px, 69vw, 530px);
        }

        &__text {
            font-size: variables.$size18m;
        }

        &__num {
            font-size: variables.$size20m;
        }

        .control {
            display: flex;
            gap: calc(variables.$index-m * 16vw);
        }

       
    
        &__pagination {
            display: flex;
            gap: 6px;
        }

        .dot {
            width: calc(variables.$index-m * 10vw);
            height: calc(variables.$index-m * 10vw);
            border-radius: 50%;
            background-color: variables.$gray-color;
            gap: calc(variables.$index-m * 6vw);;

            &.active {
                background-color: variables.$black-color;
            }
        }



        

    }
}