@use './libs/variables.scss';
@use './libs/fonts.scss';

.main-info {
    margin-bottom: 187px;
    &__header {
        max-width: 764px;
        padding-top: 27px;

        &_lection {
            margin-bottom: 70px;
        }

        &_table {
            margin-bottom: 60px;
        }
    }

    &__header-img {
        float: right;
    }

    &__table-block {
        display: grid;
        grid-template-columns: 5fr 7fr;

    }

    &__master-photo {
        position: relative;
        left: -23px;
        float: left;
    }

    .sub-table {
        font-family: "GolosText-Regular";
        font-size: 20px;
        color: #3057A2;
        line-height: 1.2;
    }
}

.info-table {

    margin-bottom: 48px;

    td {
        width: 352px;
        color: variables.$black-color;
        font-size: 20px;
        text-align: left;
        padding: 16px;
        border-top: 2px solid variables.$table-border-color;

        

        &:nth-child(odd) {
            font-family: "GolosText-Regular";
            opacity: .7;
            border-right: 2px solid variables.$table-border-color;
        }

         &:nth-child(even) {
            font-family: "GolosText-SemiBold";
            
        }

       

        
    }

     &__first-row {
            border-top: none;
        }

    tr {
        
        &:first-child {
            td {
                border-top: none;
                padding-top: 0;

            }
        }

        &:last-child {
            td {
                padding-bottom: 0;

            }
        }
    }

  
}


@media (max-width: 1366px) {
    .main-info {

        &__header_lection {
            width: 60%;
        }

        &__header-img {
             width:  calc(variables.$index * 394vw);
        }
        &__master-photo {
            width:  calc(variables.$index * 588vw);
        }

        &__header_table {
             margin-bottom: calc(variables.$index * 60vw);
        }

        
    }

    .info-table {
        margin-bottom: calc(variables.$index * 48vw);
        td {
            padding: calc(variables.$index * 16vw);
            font-size: calc(variables.$index * 20vw);;
        }
    }
} 

@media (max-width: 768px) {
    .main-info {

        margin-bottom: calc(variables.$index-m * 120vw);;

        &__table-block {
            grid-template-columns: 1fr;
        }

        &__master-photo {
            width: 100%;
            left: 0;
            float: none;
        }
    
        .title_small {
            display: block;

            &.mb261 {
                margin-bottom: calc(variables.$index-m * 261vw);
            }
        }

        &__header-img {
            position: absolute;
            float: none;
            height: calc(variables.$index-m * 212vw);
            width: calc(variables.$index-m * 335vw);
            top: 54vw;
            }

        .sub-table {
            font-size: calc(variables.$index-m * 18vw);
        }
    }

        

    .info-table {
        margin-bottom: calc(variables.$index-m * 40vw);;
        max-width: calc(variables.$index-m * 336vw);
         border-collapse: collapse;
        
        td {
            padding: 0;
            display: inline-block;
            width: 100%;
            font-size: calc(variables.$index-m * 20vw);
            border: none;
            &:nth-child(odd) {
                border: none;
            }

            &:nth-child(odd) {
                padding-bottom: calc(variables.$index-m * 12vw);
            }

            &:nth-child(even) {
                padding-bottom: calc(variables.$index-m * 16vw);
                
            }

            
        }

        tr {
            
            &:nth-child(4) {
                td {
                    &:first-child {
                        width: calc(variables.$index-m * 153vw)
                    }
                    &:last-child {
                        width: calc(variables.$index-m * 100vw)
                    }
                }
                
            }

            &:not(:first-child) {
                border-top: 2px solid variables.$table-border-color;
            }
            
        }
        
    }
}